.banks_page {
    padding-top: 20px;
}

.btn {
    cursor: pointer;
    margin: 10px ;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.list_item {
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    width: 340px;
}

.item {
    display: inline-block;
    width: 170px;
}

.btn_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}